name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
    - main

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Select Rust toolchain with Clippy
      uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
          components: clippy
          override: true
    - name: Use cache for Rust dependencies
      uses: Swatinem/rust-cache@v1
    - name: Lint using Clippy
      run: cargo clippy